@import url('https://fonts.googleapis.com/css2?family=Karla&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
body {
  margin: 0px;
  height: 100%;
  background-color: var(--bg-color);
  padding: 0px;
}

[data-theme='dark'] {
  --fg-color: #c8d6e5;
  --fg-color-2: #d1d8e0;
  --bg-color: #202022;
  --info-color: gray;
  --accent-color: #242428;
}

[data-theme='light'] {
  --fg-color: #2c3e50;
  --fg-color-2: #2c3e50;
  --info-color: gray;
  --bg-color: #ffffff;
  --accent-color: #fafafa;
}

.main {
  background-color: var(--bg-color);
  transition: background-color 500ms ease-in;
  transition: color 100ms;
}

#logo,
#logo:hover {
  color: var(--fg-color);
  font-size: 30px;
  text-decoration: none;
  font-family: 'Miriam Libre', sans-serif;
}

/* navbar */

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 10%; */
  margin-bottom: 1%;
}

.nav-item {
  padding-right: 10%;
  font-style: bold;
  font-size: 25px;
}

.content-wrapper {
  /* margin-top: 5% !important; */
  background-color: var(--accent-color);
  color: var(--fg-color);
  font-family: 'Karla', sans-serif;
  padding: 5%;
  width: 55%;
  margin: auto;
  padding-top: 2%;
  font-size: 20px;
  text-align: left;
  transition: background-color 300ms ease-in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.post-title {
  font-size: 30px;
  font-family: 'Epilogue', sans-serif;
  text-align: left;
  color: var(--fg-color-2);
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #01a3a4;
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: inline-block;
  /* margin-top: 2%; */
  width: 100%;
}

.nav .prev {
  float: left;
}

.nav .next {
  float: right;
}

/* The theme switching button */

.switch {
  float: right;
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The theme switching slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #feca57;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 32px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2e86de;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e86de;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-color-2);
  padding-top: 4%;
  text-align: left;
  font-family: 'Epilogue', sans-serif;
}

h2 {
  font-size: 3.3rem !important;
}

pre {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5% !important;
  line-height: 10%;
}

code {
  font-size: 16px !important;
  line-height: 10%;
  overflow: scroll;
}

p {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.tags {
  display: contents;
  margin-bottom: 20px;
  font-size: 17px;
}

.tag {
  padding-right: 5px;
  /* float: right; */
  cursor: pointer;
  color: #01a3a4;
}

.tag:hover {
  text-decoration: underline;
}

.info {
  color: var(--info-color);
  /* float: right */
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    width: 90%;
    font-size: 18px;
    text-align: left;
  }

  .post-title,
  h1 {
    font-size: 30px;
  }

  .navbar {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
