@import url('https://fonts.googleapis.com/css2?family=Karla&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

:root {
  --dark0: #2c3e50;
  --light0: #fafafa;
}

.light {
  --fg-color: var(--dark0);
  --bg-color: #fafafa;
  --accent-color: #fafafa;
}

.dark {
  --fg-color: #f5f7fa;
  --bg-color-color: #202022;
  --accent-color: #fafafa;
}

body {
  background-color: var(--bg-color);
}

.content-wrapper {
  margin-top: 5% !important;
  background-color: var(--accent-color);
  color: var(--text);
  font-family: 'Karla', sans-serif;
  padding: 5%;
  width: 58%;
  margin: auto;
  padding-top: 2%;
  font-size: 20px;
  text-align: justify;
  border-radius: 5%;
}

.post-title {
  font-size: 40px;
  font-family: 'Epilogue', sans-serif;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 2%;
  text-align: left;
  font-family: 'Epilogue', sans-serif;
}

pre {
  border-radius: 10px;
  padding: 4% !important;
  line-height: 10%;
}

code {
  font-size: 16px !important;
  line-height: 10%;
  overflow: scroll;
}

p {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    width: 90%;
    font-size: 18px;
  }

  .post-title,
  h1 {
    font-size: 30px;
  }
}
