{% import "components/post_macros.njk" as macros %}

<!DOCTYPE html>
<html data-theme="light">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ metadata.blogName }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/post.css" />
    <link rel="stylesheet" href="../css/skeleton.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/common.css" />
  </head>

  <body>
    {% include 'components/navbar.njk' %}

    <div class="post-list">
      <ul>
        
      </ul>
    </div>

    <!-- script to load posts into the post-list div -->
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const tag = urlParams.get('tag');
    </script>
  </body>
</html>
