{% import "components/post_macros.njk" as macros %}

<!DOCTYPE html>
<html data-theme="light">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ metadata.blogName }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/post.css" />
    <link rel="stylesheet" href="../../css/skeleton.css" />
    <link rel="stylesheet" href="../../css/home.css" />
    <link rel="stylesheet" href="../../css/common.css" />
  </head>

  <body>
    <section class="main">
      <div class="content-wrapper">
        {{ macros.navbar('../../') }}
        <article class="post">
          {{ content | safe }}
        </article>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="../../js/theme_switch.js"></script>
</html>
