{% import "components/post_macros.njk" as macros %}

<!doctype html>
<html data-theme="light">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ metadata.blogName }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/common.css">
  </head>

  <body>
    <section class="main">
      <div class="content-wrapper">
        {{ macros.navbar('..') }}

        {# blog title #}
        <h1 class="post-title">{{ title }}</h1>
        {# tags #}

        <hr>
        {# home page description #}
        <article class="post">
          {{ content | safe }}
          <h2>Blog posts</h2>
          {{macros.postList(collections.post)}}

          <h2>About me</h2>
          <p>
          I am an undergrad student studying Computer Science. <br>
          Currently I am maintaing one of my hobby projects - 
          the <a href="https://github.com/srijan-paul/snap" target="_blank">Vyse</a> programming language.
          </p>

          <p>
          I study PL theory, do backend development, game-dev or write misc. software.<br/>
          There's more about me on my <a href="https://srijan-paul.github.io/" target="_blank">main website</a>.
          </p>

        </article>
      </div>

      {{macros.socials()}}

    </section>
    <script type="text/javascript" src="../js/theme_switch.js"></script>
  </body>
</html>
