{% import "components/post_macros.njk" as macros %}

<!doctype html>
<html data-theme="light">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/prism-theme.css">
  </head>
  <body>
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}
    <class class="main">
      <div class="content-wrapper">
        {{ macros.navbar('..') }}
        {{ macros.header(title, tags, page.date) }}
        <hr>

        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        {# blog contents #}
        <main class="post" id="main-content">{{ content | safe }}</main>
        <hr>
        {# navigating to previous and next post #}
        <div class="nav">
          {% if previousPost %}
            <a class="prev" 
              href="..{{ previousPost.url }}">&lt; {{ previousPost.data.title | truncateString }}</a>
          {% endif %}

          {% if nextPost %}
            <a class="next"
              href = "..{{ nextPost.url }}">{{ nextPost.data.title | truncateString }} &gt;</a>
          {% endif %}
        </div>

        {{macros.socials()}}

      </div>
    </class>
    {# Javascript for theme switching, light/dark mode. #}
    <script type="text/javascript" src="../js/theme_switch.js"></script>
  </body>
</html>
