@import url('https://fonts.googleapis.com/css2?family=Karla&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  margin: 0px;
  height: 100%;
  background-color: var(--bg-color);
  padding: 0px;
}

[data-theme='dark'] {
  --fg-color: #dfe6e9;
  --fg-color-2: #f7f1e3;
  --bg-color: #1a1a1a;
  --info-color: #f7f1e3;
  --accent-color: #222222;
  --logo-color: #fed130d3;
  --link-color: #01a3a4;
}

[data-theme='light'] {
  --fg-color: #2c3e50;
  --fg-color-2: #2c3e50;
  --info-color: gray;
  --bg-color: #fafafa;
  --accent-color: #ffffff;
  --logo-color: #227093;
  --link-color: #01a3a4;
}

.main {
  background-color: var(--bg-color);
  transition: background-color 500ms ease-in;
  transition: color 100ms;
}

#logo,
#logo:hover {
  color: var(--fg-color);
  font-size: 30px;
  color: var(--logo-color);
  text-decoration: none;
  font-family: 'Fira Code', monospace, sans-serif;
}

/* navbar */

.navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 10%; */
  margin-bottom: 3%;
}

.nav-item {
  font-style: bold;
  font-size: 25px;
}

.content-wrapper {
  margin-top: 3% !important;
  background-color: var(--accent-color);
  color: var(--fg-color);
  font-family: 'Karla', sans-serif;
  padding: 3%;
  word-spacing: 0.3rem;
  width: 55%;
  margin: auto;
  margin-bottom: 5%;
  padding-top: 2%;
  font-size: 20px;
  text-align: left;
  border-radius: 1rem;
  transition: background-color 300ms ease-in;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  line-height: 1.3;
}

ul li {
  list-style: square none;
  margin-left: 2%;
}

ol {
  list-style: none none none;
}

ol li {
  /* display: inline; */
  list-style-position: initial;
  margin: 0;
  padding: 0;
  margin-left: 1.5%;
}

.post-title {
  font-size: 30px;
  font-family: 'Epilogue', sans-serif;
  text-align: left;
  color: var(--fg-color-2);
}

img {
  border-radius: 1.5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: inline-block;
  /* margin-top: 2%; */
  width: 100%;
}

.nav .prev {
  float: left;
}

.nav .next {
  float: right;
}

/* The theme switching button */

.switch {
  float: right;
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The theme switching slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #feca57;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 32px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2e86de;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e86de;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-color-2);
  font-family: 'Epilogue', sans-serif;
  text-align: left;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem !important;
}

pre {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5% !important;
  margin-bottom: 4% !important;
}

code {
  font-size: 15.5px !important;
  /* line-height: 10%; */
  overflow: scroll;
}

p {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.tags {
  display: contents;
  margin-bottom: 20px;
  font-size: 17px;
}

.tag {
  padding-right: 5px;
  /* float: right; */
  cursor: pointer;
  color: #01a3a4;
}

.tag:hover {
  text-decoration: underline;
}

.info {
  color: var(--info-color);
  /* float: right */
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    width: 90%;
    /* margin-top: 0%; */
    font-size: 18px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }

  .post-title,
  h1 {
    font-size: 30px;
  }

  pre {
    padding: 4% 4% 4% 4% !important;
  }

  code[class*='language'] {
    font-size: 14px !important;
  }

  img {
    width: 100%;
    height: auto;
  }
}
