<div class="navbar">
  <div class="nav-item">
    <a href="{{env.root}}/home/index.html" id="logo">{{ metadata.blogName }}</a>
  </div>

  {# theme switcher button #}
  <div class="nav-item">
    <label class="switch">
      <input type="checkbox" id="theme-switcher-button">
      <span class="slider round"></span>
    </label>
  </div>
</div>