{% macro header(title) %}
  {# blog title #}
  <h1 class="post-title">{{ title }}</h1>
  <div class="info">{{page.date | formatDate}}</div>
  {# tags #}
  <div class="tags">
    {% for tag in tags %}
      <a class="tag" href="#">
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro postList(collection, title, root) %}
  <div class = "post-list">
    <ul>
      {% for post in collection %}
        {% if post.data.title != title %}
          <li>
            <a href="{{root}}{{ post.url }}index.html">{{ post.data.title }}
            </a>
            <span class="post-date"> ({{ post.date | formatDate }}) </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endmacro %}